.header{
    background-color: #881c1c;
    color: white;
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.7em;
    padding: 1em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%) !important;
  }
  .web-intro{
    padding: 3em 0em;
    text-align: center;
  }
  .home-sec1{
    text-align: center;
    margin-top: 8em;
  }
  .task-add-buttons{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .home-button{
    background-color: #881c1c;
    color: white;
    font-weight: bold;
    /* border: 0.2em solid white; */
    border-radius: 0.3em;
    padding: 0.8em 3em;
    font-size: 1.2em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
  .tasktable_container{
      width: 100%;
      text-align: center;
      margin-top: 8em;
  }
  .tasktable{
    margin: 2em;
    font-weight: bold;
    color: black;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%) !important;
    /* padding: 0em 1em 1em 1em; */
    /* background: linear-gradient(90deg, rgba(164,158,158,1) 0%, rgba(238,238,238,1) 84%); */
    border-collapse: collapse;
  }
  .task_table_head{
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%) !important;
        background: #881c1c;
        color: white;
  }
  .tl_elem{
    padding: 1em;
    border: 0.1em solid #881c1c;
  }
  .tl_cell{
    padding: 1em 2em;
  }
  .th_cell{
    font-size: 1.2em;
    background: padding-box;
    padding: 1em 0em;
  }
  .site_name{
    margin: 1em 1em;
    font-size: 2em;
    font-weight: bold;
    color: #1e1e1e;
    width: 30%;
  }
  .addtask_container{
    margin: 5em 0em;
  }
  .addtask_sec{
    margin: auto;
    width: 60%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    /* background: linear-gradient(90deg, rgba(164,158,158,1) 0%, rgba(238,238,238,1) 84%); */
    border: 0.2em solid #881c1c;
    border-radius: 0.3em;
  }
  .new_task_heading{
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 0.8em 0em;
    font-weight: bold;
    /* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 2%) !important; */
    border-bottom: 0.06em solid #881c1c;
    border-radius: 0.3em;
  }
  .form_add_task{
    display: table;
    width: 90%;
    margin: auto;
    font-size: 1.3em;
  }
  .form_elem_at{
    margin: 1em;
  }
  .form_input_at{
    display: table-cell;
    width: 100%;
    height: 2em;
    margin-top: 1em;
    font-size: 0.8em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%) !important;
    border: 0.05em solid grey;
    border-radius: 0.3em;
    /* border: none; */
  }
  .form_label_at{
      display: table-cell;
  }
  .form_at_tn{
      height: 5em;
      font-size: 1em;
  }
  .form_at_textarea{
    height: 8em;
  }
  .form_at_submit{
    border: 0.05em solid lightgray;
    height: 3em;
    width: 45%;
    border-radius: 0.3em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 3%), 0 6px 20px 0 rgb(0 0 0 / 3%) !important;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    background: #881c1c;
    margin: auto;
  }
  .form_at_submit_wrap{
    margin: 3em 1em 1em  1em;
    display: flex;
  }
  .hidden_re{
      display: none;
  }
  .plus_icon{
    width: 5%;
    font-size: 2em;
    color: #881c1c;
  }
  .row1{
      display: inline-flex;
  }
  .subheading_1{
    font-weight: bold;
    width: 8em;
    height: 1.3em;
  }
  .val1{
    color: #881c1c;
  }
  .sub_page_top{
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
  }
  .doc_table{
    text-align: center;
    margin: 2em auto;
    border: 1px solid #881c1c;
    font-size: 1.2em;
    /* margin-top: 2em; */
  }
  .doc_table_row{
      height: 3em;
  }
  .doc_table_col{
    padding: 0em 1em;
  }
  .details_button{
    padding: 0em 1em;
    color: #881c1c;
    font-weight: bold;
  }
  .sub_filters{
    margin: 5em;
    border: 1px solid #881c1c;
    padding: 2em;
  }
  .filter-heading{
      font-size: 2em;
      margin-bottom: 1em;
  }
  .dropdown-content {
    display: none;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .dropbtn {
    background-color: #881c1c;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.3em;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}
  .cancel_add_task{
    border: 0.05em solid #881c1c;
    height: 3em;
    width: 45%;
    border-radius: 0.3em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 3%), 0 6px 20px 0 rgb(0 0 0 / 3%) !important;
    color: #881c1c;
    font-weight: bold;
    font-size: 0.9em;
    background: white;
    margin: auto;
    line-height: 3em;
  }
  .selected_item{
    background: #f0c1c1;
  }
  .loading_sub{
      /* margin: 2em; */
      font-size: 2em;
      /* width: 100%; */
      color: #881c1c;
      width: 100%;
      text-align: center;
      margin: 3em 0em;
  }
  .highlight-filter{
    margin: 3em;
    font-size: 1.3em;
  }
  .highlight-head{
    font-weight: bold;
    margin: 0em 0em 1em 0em;
  }
  .highlight-items{
    border: 0.1em solid #881c1c;
    padding: 1em;
    border-radius: 0.3em;
    margin: 0.2em 0em;
    
  }
  .highlight-item{
    margin: 1em 0em;
  }
  .docText{
    margin: 3em;
    font-size: 1.2em;
  }
  .see_events_button{
    margin: auto;
    background: #881c1c;
    border-radius: 0.3em;
    color: white;
    font-weight: bold;
    padding: 0.8em;
    font-size: 1.2em;
    width: 20%;
    text-align: center;
  }
  .prev-next-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em;
    font-size: 1.1em;
  }
  .details-page-button{
    border: 0.1em solid #881c1c;
    color: #881c1c;
    font-weight: bold;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
  }
  .event_table{
    width: 75%;
    margin: auto;
    text-align: center;
  }
  .event_th_cell{
    padding: 0.5em 1em;
  }
  .event-bottom{
    margin: 3em;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  .event-bottom-button{
    background: #881c1c;
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.3em;
    font-size: 1.1em;
  }
  .light{
    background: #fdf5f5;
  }
  .dark{
    background: #fae4e4;
  }
  